@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.choosen-team {
  width: 80vw;
  margin: auto;
  box-shadow: 1px 6px 5px 2px #0000009b;
  margin-top: 10vh;
  padding: 50px;
}

.heading-1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

span {
  font-family: 'Lobster', cursive;
  color: red;
  font-size: 55px;
}

.vs {
  padding: 30px;
}

label {
  font-size: 40px;
  font-family: 'Lobster', cursive;
  padding: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* margin-top: 50px; */
}

.select {
  line-height: 2;

}

.flags {
  width: 80px;
  height: 80px;
  padding-right: 20px;
}

.flex-list {
  display: flex;
  border-bottom: 1px solid #00000021;
  padding: 35px 0 4px 0;
  flex-direction: row;
  width: 30vw;
}

.football-logo {
  background-image: url("./assets/footballlogo.png");
}

.choosen-team {
  display: flex;
  justify-content: space-around;
}

.head1 {
  font-size: 44px;
  font-family: 'Lobster', cursive;

}

.league-logo {
  border: 1px solid #00000069;
  width: 10vw;
  height: 16vh;
}

.league-name {
  font-family: serif;
  font-size: 27px;
  /* width: 25vw; */
}

.results {
  /* border: 2px solid #07070748; */
  width: 20vw;
  height: 4vh;
  margin-top: 15vh;
  text-align: center;
  padding-top: 6px;
  font-size: 26px;
}

.capture {
  text-align: center;
  justify-content: center;
  width: 13vw;
  height: 5vh;
  margin: 15% 42% 5%;
  font-size: 20px;
  font-weight: 700;
  border-radius: 15px;
}

.capture:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px red;
  transition: 0.7s;
}